NorthWindDemo.Web/bin/
NorthWindDemo.Web/obj/
NorthWindDemo.Models/bin/
NorthWindDemo.Models/obj/
NorthWindDemo.Service/bin/
NorthWindDemo.Service/obj/
.vs/
NorthWindDemo.Web.Tests/obj/
NorthWindDemo.Web.Tests/bin/
